<header>
    <nav>
        <ul>
            <li>
                <a href="/movies/add">
                    Crear pelicula
                </a>
            </li>
            <li>
                <a href="/movies/">
                    Lista de peliculas
                </a>
            </li>
            <li>
                <a href="/movies/new">
                    Nuevas peliculas
                </a>
            </li>
            <li>
                <a href="/movies/recommended">
                    Peliculas Recomendadas
                </a>
            </li>
            <li>
                <a href="/genres">
                    Generos de peliculas
                </a>
            </li>
        </ul>
    </nav>
</header>